h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.text {
    margin-top: 10px;
    margin-left: 10px;
}
.key {
    margin-top: 10px;
    margin-left: 10px;
}
.output {
    margin-top: 10px;
    margin-left: 10px;
}
.buttons {
    margin-top: 10px;
    margin-left: 10px;
}
